---
http_interactions:
- request:
    method: get
    uri: http://codeforces.com/api/problemset.recentStatus?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","result":[{"id":16384313,"contestId":100145,"creationTimeSeconds":1456581702,"relativeTimeSeconds":2147483647,"problem":{"contestId":100145,"index":"E","name":"Делители","type":"PROGRAMMING","tags":[]},"author":{"contestId":100145,"members":[{"handle":"vjudge2"}],"participantType":"PRACTICE","ghost":false,"startTimeSeconds":1355932800},"programmingLanguage":"GNU
        C++","verdict":"TESTING","testset":"TESTS","passedTestCount":0,"timeConsumedMillis":0,"memoryConsumedBytes":0},{"id":16384311,"contestId":71,"creationTimeSeconds":1456581693,"relativeTimeSeconds":2147483647,"problem":{"contestId":71,"index":"A","name":"Way
        Too Long Words","type":"PROGRAMMING","points":500.0,"tags":["strings"]},"author":{"contestId":71,"members":[{"handle":"siv95tennis"}],"participantType":"PRACTICE","ghost":false,"startTimeSeconds":1301410800},"programmingLanguage":"GNU
        C++11","verdict":"COMPILATION_ERROR","testset":"TESTS","passedTestCount":0,"timeConsumedMillis":0,"memoryConsumedBytes":0},{"id":16384310,"contestId":620,"creationTimeSeconds":1456581688,"relativeTimeSeconds":2147483647,"problem":{"contestId":620,"index":"A","name":"Professor
        GukiZ\u0027s Robot[...]
