---
http_interactions:
- request:
    method: get
    uri: http://codeforces.com/api/problemset.recentStatus?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","result":[{"id":16384330,"contestId":158,"creationTimeSeconds":1456581776,"relativeTimeSeconds":2147483647,"problem":{"contestId":158,"index":"B","name":"Taxi","type":"PROGRAMMING","points":1000.0,"tags":["greedy","implementation"]},"author":{"contestId":158,"members":[{"handle":"lochuynhvinh"}],"participantType":"PRACTICE","ghost":false,"startTimeSeconds":1330804800},"programmingLanguage":"GNU
        C++11","verdict":"WRONG_ANSWER","testset":"TESTS","passedTestCount":0,"timeConsumedMillis":30,"memoryConsumedBytes":0},{"id":16384329,"contestId":160,"creationTimeSeconds":1456581774,"relativeTimeSeconds":2147483647,"problem":{"contestId":160,"index":"A","name":"Twins","type":"PROGRAMMING","points":500.0,"tags":["greedy","sortings"]},"author":{"contestId":160,"members":[{"handle":"hasanxack"}],"participantType":"PRACTICE","ghost":false,"startTimeSeconds":1331046000},"programmingLanguage":"GNU
        C","verdict":"OK","testset":"TESTS","passedTestCount":29,"timeConsumedMillis":30,"memoryConsumedBytes":0},{"id[...]
