---
http_interactions:
- request:
    method: get
    uri: http://codeforces.com/api/user.status?count=10&handle=hadrori&method=user.status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","result":[{"id":16379707,"contestId":1,"creationTimeSeconds":1456569927,"relativeTimeSeconds":2147483647,"problem":{"contestId":1,"index":"A","name":"Theatre
        Square","type":"PROGRAMMING","tags":["math"]},"author":{"contestId":1,"members":[{"handle":"hadrori"}],"participantType":"PRACTICE","ghost":false,"startTimeSeconds":1266580800},"programmingLanguage":"Haskell","verdict":"OK","testset":"TESTS","passedTestCount":20,"timeConsumedMillis":30,"memoryConsumedBytes":8601600},{"id":16378784,"contestId":1,"creationTimeSeconds":1456567492,"relativeTimeSeconds":2147483647,"problem":{"contestId":1,"index":"A","name":"Theatre
        Square","type":"PROGRAMMING","tags":["math"]},"author":{"contestId":1,"members":[{"handle":"hadrori"}],"participantType":"PRACTICE","ghost":false,"startTimeSeconds":1266580800},"programmingLanguage":"Haskell","verdict":"OK","testset":"TESTS","passedTestCount":20,"timeConsumedMillis":30,"memoryConsumedBytes":8499200},{"id":12198167,"contestId":302,"creationTimeSeconds":1437645154,"relativeTimeSeconds":3454,"problem":{"contestId":302,"index":"B","name":"Eugeny
        and Play List","type":"PROGRAMMING","points":1000.0,"tags":["binary search","implementation","two
        pointers"]},"author":{"contestId":302,"members":[{"handle":"hadrori"}],"participantType":"VIRTUAL","ghost":false,"startTimeSeconds":1437641700},"programmingLanguage":"GNU
        C++11","verdict":"OK","testset":"TESTS","passedTestCount":54,"timeConsumedMillis":686,"memoryConsumedBytes":819200},{"id":12197985,"contestId":302,"creationTimeSeconds":1437644362,"relativeTimeSeconds":2662,"problem":{"contestId":302,"index":"A","name":"Eugeny[...]
