[Unit]
Description=Tokyo Tech Coder
After=nginx.service postgresql.service redis.service
Wants=nginx.service postgresql.service redis.service

[Service]
User=ttcoder
WorkingDirectory=/home/ttcoder/deploy/current
ExecStart=/usr/bin/bundle exec --keep-file-descriptors unicorn -c /home/ttcoder/deploy/current/config/unicorn.rb -E production
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID
PIDFile=/home/ttcoder/deploy/current/tmp/pids/unicorn.pid

[Install]
WantedBy=multi-user.target
