[Unit]
Description=Tokyo Tech Coder Crawler
Wants=ttcoder.service postgresql.service
After=postgresql.service

[Service]
Type=simple
User=ttcoder
WorkingDirectory=/home/ttcoder/deploy/current
ExecStart=/usr/bin/bundle exec rake crawler:work RAILS_ENV=production
Restart=always

[Install]
WantedBy=multi-user.target
