- content_for :title, "Recent ACs at #{@site.upcase}"
h1= yield :title

div#weekly-graph

= render partial: "#{@site}/submissions", locals: { submissions: @submissions, usermap: @usermap }

javascript:
  renderGraph("#{send("#{@site}_weekly_path", format: :json)}")
