default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: ttcoder_development
  username: ttcoder
  password:

test:
  <<: *default
  database: ttcoder_test
<% if ENV['TRAVIS'] %>
  username: postgres
<% else %>
  username: ttcoder
<% end %>
  password:

production:
  <<: *default
  database: ttcoder_production
  username: ttcoder
  password:
