defaults: &defaults
  omniauth:
    twitter:
      consumer_key: 'CONSUMER_KEY'
      consumer_secret: 'CONSUMER_SECRET'
  smtp:
    enable_starttls_auto: true
    address: 'smtp.gmail.com'
    domain: 'example.com'
    port: 587
    user_name: 'eagletmt@example.com'
    password: 'PASSWORD'
  google_analytics:
    tracker: 'UA-XXXXXX'
    account: 'wanko.cc'

development:
  secret_key_base: deadbeef
  <<: *defaults

test:
  secret_key_base: deadbeef
  <<: *defaults
  omniauth:
    twitter:
      consumer_key: 'abcd'
      consumer_secret: 'xyzw'

production:
  <<: *defaults
  secret_key_base: deadbeef
