---
http_interactions:
- request:
    method: get
    uri: http://judge.u-aizu.ac.jp/onlinejudge/webservice/status_log?limit=10&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <status_list>
        <status>
        <run_id>
        792259
        </run_id>
        <user_id>
        lesliealantam
        </user_id>
        <problem_id>
        0002
        </problem_id>
        <submission_date>
        1382192539767
        </submission_date>
        <submission_date_str>
        Sat Oct 19 23:22:19
        </submission_date_str>
        <status>
        Accepted
        </status>
        <language>
        C++
        </language>
        <cputime>
        0
        </cputime>
        <memory>
        1160
        </memory>
        <code_size>
        266
        </code_size>
        </status>
        <status>
        <run_id>
        792258
        </run_id>
        <user_id>
        okaoka
        </user_id>
        <problem_id>
        2401
        </problem_id>
        <submission_date>
        1382192406690
        </submission_date>
        <submission_date_str>
        Sat Oct 19 23:20:06
        </submission_date_str>
        <status>
        Wrong Answer
        </status>
        <language>
        C++
        </language>
  [...]
