---
http_interactions:
- request:
    method: get
    uri: http://judge.u-aizu.ac.jp/onlinejudge/webservice/status_log?limit=10&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <status_list>
        <status>
        <run_id>
        792261
        </run_id>
        <user_id>
        kamereiyu
        </user_id>
        <problem_id>
        0021
        </problem_id>
        <submission_date>
        1382192657683
        </submission_date>
        <submission_date_str>
        Sat Oct 19 23:24:17
        </submission_date_str>
        <status>
        Wrong Answer
        </status>
        <language>
        C
        </language>
        <cputime>
        0
        </cputime>
        <memory>
        620
        </memory>
        <code_size>
        460
        </code_size>
        </status>
        <status>
        <run_id>
        792260
        </run_id>
        <user_id>
        hanzou
        </user_id>
        <problem_id>
        0020
        </problem_id>
        <submission_date>
        1382192627855
        </submission_date>
        <submission_date_str>
        Sat Oct 19 23:23:47
        </submission_date_str>
        <status>
        Wrong Answer
        </status>
        <language>
        C++
        </language>
  [...]
[...]
