$main-fg: #666;
$main-bg: #f8f8f8;

$submit-bg: hsl(165, 40%, 50%);

$link-button-bg: hsl(200, 60%, 55%);
$link-button-padding: 7px;

$border-color: #ddd;
$border-width: 2px;

$sidebar-width: 180px;

$success-color: #00f;
$fail-color: #f00;
$miss-color: #0f0;

$tag-margin: .3em;
