@import 'variables';

.activity {
  line-height: 1.7em;

  .created-at {
    font-size: medium;
    margin-right: 1ex;
  }
}

#contest .activities {
  border-color: darken($border-color, 20%);
  border-style: solid;
  border-width: 1px;
  max-height: 6em;
  overflow-y: scroll;
  padding: .2em;
}
