// Place all the styles related to the codeboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#codeboard {
  min-width: 100ex;
  min-height: 80ex;
  font-family: monospace;
  font-size: medium;
}
