// Place all the styles related to the contests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.status {
  &.ac {
    color: $success-color;
  }

  &.wa,
  &.tle,
  &.mle,
  &.re,
  &.ole {
    color: $fail-color;
  }

  &.pe,
  &.ce {
    color: $miss-color;
  }

  &.old {
    background-color: hsla(40, 70%, 80%, .3);
  }
}

.control-button {
  margin-left: 1em;
}

.radio-label {
  margin-right: 1em;
}

form .help-text {
  color: $help-text-color;
  font-size: 80%;
}

.contests {
  th,
  td {
    line-height: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
    text-align: left;
    word-wrap: break-word;
  }

  th {
    border-bottom: 2px solid $contest-border-color;
  }

  td {
    border-bottom: 1px solid $contest-border-color;
  }

  .name-cell {
    max-width: 10em;
  }
}
