// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins';
@import 'variables';

%simple-list {
  list-style-type: none;
  padding: 0;
}

#left-bar {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  width: $sidebar-width;
  word-wrap: break-word;

  ul {
    @extend %simple-list;
  }
}

#content {
  margin-left: $sidebar-width + 20;
  width: 80%;
}

body {
  background-color: $main-bg;
  color: $main-fg;
}

h1,
h2,
h3,
h4,
h5,
th {
  font-weight: normal;
}

h1 {
  border-bottom: 1px solid darken($main-bg, 10%);;
  padding-bottom: 5px;
}

a {
  color: $main-fg;
}

li {
  line-height: 1.5em;
}

form {
  input[type=text],
  textarea {
    border-color: darken($main-bg, 20%);
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    color: darken($main-fg, 10%);
    padding: 3px;
    @include placeholder-color(lighten($main-fg, 5%));
  }
}

form input[type=submit] {
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  padding: $submit-button-padding;
  @include flatter-gradient-background($submit-bg);
}

td input[type=checkbox] {
  float: right;
}

.link-button {
  border-radius: 3px;
  color: #fff;
  padding: $link-button-padding;
  text-decoration: none;
  @include flatter-gradient-background($link-button-bg);
}

.grid-table-scroll {
  overflow-x: auto;
}

.grid-table {
  text-align: center;

  th,
  td {
    padding: 7px;
  }

  td {
    border-top: $border-width solid $border-color;
  }

  .column {
    border-left: $border-width solid $border-color;
  }
}

#weekly-graph {
  margin-bottom: 20px;
}

.home-recent-acs {
  float: left;
}

.clear {
  clear: both;
}

.top-message {
  border-color: $main-fg;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  padding-left: 1em;
  padding-right: 1em;
}

.version-info {
  font-size: small;
}

.number-cell {
  text-align: right;
}

.no-list-type {
  list-style-type: none;
}

.float-listing {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0;

  li {
    float: left;
    margin-bottom: 3px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 3px;
  }
}

.hspace {
  display: inline-block;
  width: 10px;
}

form.inline {
  display: inline;
}
