@import 'mixins';
@import 'variables';

.tags {
  margin-bottom: 1.5em;
}

.tag {
  @include flatter-gradient-background(lighten(saturate($link-button-bg, 50%), 30%));
  border: 1px solid $tag-border-color;
  border-radius: 5px;
  color: $tag-fg;

  a {
    color: inherit;
    padding-left: $tag-margin;
    padding-right: $tag-margin;
    text-decoration: none;
  }

  input[type=checkbox] {
    margin-left: $tag-margin;
  }

  .tag-text {
    margin-left: $tag-margin;
    padding-right: $tag-margin;
  }
}
